body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.skill-badge{
  background:#e3f2fd;
  padding:6px 12px;
  margin:6px;
  border-radius:20px;
  display:inline-block;
  font-size:14px;
  font-weight:500;
}

.skill-badge.missing{
  background:#ffe3e3;
}
